In [1]:
%matplotlib inline

In [2]:
import numpy as np

In [3]:
from sklearn.linear_model import LinearRegression

import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.style
plt.style.use('classic')

import seaborn as sns

In [5]:
gun = pd.read_csv("ThreeCars.csv")

In [6]:
gun

    Unnamed: 0  Price  Age  Mileage  Porsche  Jaguar  BMW
0            1   69.4    3     21.5        1       0    0
1            2   56.9    3     43.0        1       0    0
2            3   49.9    2     19.9        1       0    0
3            4   47.4    4     36.0        1       0    0
4            5   42.9    4     44.0        1       0    0
..         ...    ...  ...      ...      ...     ...  ...
85          86   26.9    6     68.1        0       0    1
86          87   30.0    6     46.8        0       0    1
87          88   36.0    5     46.8        0       0    1
88          89   38.0    4     36.1        0       0    1
89          90   13.8    7     59.0        0       0    1

[90 rows x 7 columns]

In [7]:
x = gun.drop('Price', axis=1)
y = gun[['Price']]

In [8]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1 )

In [12]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [13]:
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))

The coefficient for Unnamed: 0 is 0.014447403911611749
The coefficient for Age is -0.6561211888816504
The coefficient for Mileage is -0.4636097816380633
The coefficient for Porsche is 11.319435266701399
The coefficient for Jaguar is -9.569103550298621
The coefficient for BMW is -1.7503317164028322

In [14]:
regression_model.score(X_train, y_train)

0.8308023442703406

In [15]:
regression_model.score(X_test, y_test)

0.6315776768376231

In [16]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

    Unnamed: 0  Age  Mileage  Porsche  Jaguar  BMW  Price
36          37    7     69.4        0       1    0   14.9
33          34    2     19.6        0       1    0   46.9
32          33    4     35.3        0       1    0   25.9
45          46    4     33.3        0       1    0   35.9
66          67    6     60.2        0       0    1   23.9

In [18]:
import statmodels.formula.api as smf
lml = smf.pls(formula= 'Price ~ Age+Mileage+Porchhe+Jaguar+BMW', data = data_train).fit()
lml.params

ModuleNotFoundError: No module named 'statmodels'